body {
    max-width: 720px;
    margin: 0 auto;
    position: relative;
}
*,div,ul,li{padding: 0px; margin: 0px;}
body, html {
    font-size: .28rem;
    background-color: #f4f4f4;

}
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
}
.icon {
       width: 1em; height: 1em;
       vertical-align: -0.15em;
       fill: currentColor;
       overflow: hidden;
    }
a{color: #929699; text-decoration-line: none;}

.footer{padding: 0.5rem 0}
.footer .mint-cell{ background-color: #f3f4f8;background: linear-gradient(#e1e8f0, #f3f4f8);}
.footer .b a{ display: inline-block;width: 50%; text-align: center; margin-top: 0.5rem}
.footer .b a span{ color: red}
